@import "../../../common/Colors.css";

:local {
  .author-list-wrapper {
    display: flex;
    flex-direction: column;

    .input {
      box-sizing: border-box;
      flex: 1;
      height: 60px;
      padding: 15px;
    }
  }

  .author-list {
    min-width: 250px;
    max-height: 600px;
    overflow: auto;

    .empty-text {
      color: $grey5;
      text-align: center;
      padding: 20px;
    }

    .item-wrapper {
      align-items: center;
      background: $tertiary;
      border-bottom: 1px solid $grey1;
      box-sizing: border-box;
      cursor: pointer;
      display: flex;
      height: 60px;
      padding: 0 10px;

      &.selected {
        background: $indigo05;

        .dnd-icon {
          svg {
            fill: $grey4;
          }
        }
      }

      .item-drag {
        align-items: center;
        display: flex;

        .dnd-icon {
          margin-right: 10px;
          cursor: row-resize;

          svg {
            fill: $grey3;
          }
        }
      }

      .item-info {
        align-items: center;
        display: flex;
        flex: 1;
        height: 100%;

        .author-name {
          color: $grey6;
          flex: 1;
          font-family: 'Open Sans', sans-serif;
        }
      }

      .item-actions {
        .delete {
          &:hover {
            svg {
              fill: red;
            }
          }
        }
      }
    }
  }
}
