@import "../../../common/Colors.css";

:local {
  .header {
    border-bottom: 4px solid $teal1;
    color: $grey6;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 20px 0;
    padding: 15px;

    .title {
      flex: 1
    }
  }
}
