@import "../../common/Colors.css";

:local {
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    .affiliations {
      flex: 1;

      .lists {
        display: flex;

        .list {
          flex: 1 1 50%;
          padding: 0 15px;
        }
      }
    }
  }
}
