@import "../../common/Colors.css";

:local {
  .sidebar {
    width: 100%;

    .affiliations {
      .lists {
        display: flex;

        .list {
          flex: 1 1 50%;
          padding: 0 15px;
        }
      }
    }
  }
}
